<form class="{{cssClass}}" autocomplete="off">

  <div class="sheet-wrapper">

      {{!-- Sheet Header --}}
      <header class="sheet-header">
          <div class="sheet-header__fields">
              <input class="input--title" name="name" type="text" value="{{actor.name}}" placeholder="Name"/>
              <input class="input--title charclass" name="data.details.class" type="text" value="{{data.details.class}}" placeholder="Class" list="classlist"/>
              <datalist id="classlist">
                {{#each data.classlist as |class id|}}
                <option value="{{class}}" />
                {{/each}}
              </datalist>
              <div class="flex-item flex-item--level">
                <label for="data.atributes.level.value">{{ localize "DW.Level" }}</label>
                <input name="data.attributes.level.value" type="text" value="{{data.attributes.level.value}}" placeholder="Level" data-dtype="Number"/>
              </div>
              <div class="flex-item flex-item--xp">
                <label for="data.attributes.xp.value">{{ localize "DW.XP" }}</label>
                <input name="data.attributes.xp.value" type="text" value="{{data.attributes.xp.value}}" placeholder="XP" data-dtype="Number"/>
                {{{progressCircle data.xpSvg}}}
              </div>
              <div class="flex-item flex-item--xp-button">
                <button type="button" class="resource-control resource-decrease" data-action="decrease" data-attr="attributes.xp.value">-</button>
                <button type="button" class="resource-control resource-increase" data-action="increase" data-attr="attributes.xp.value">+</button>
              </div>
              <div class="flex-item flex-item--level-up">
                <a class="{{#if data.levelup}}clickable-level-up{{else}}disabled-level-up{{/if}}"><i class="fas fa-user-plus"></i></a>
              </div>
          </div>
      </header>

      <section class="sheet-notifications">
        {{#if data.isToken}}
        <div class="cell__title error">Warning! This character sheet is <strong>not linked to an actor</strong> and cannot use the character builder!</div>
        {{/if}}
      </section>

      {{!-- Sidebar --}}
      <section class="sheet-look{{#if actor.flags.dungeonworld.sheetDisplay.sidebarClosed}} closed{{/if}}">
        <div class="cell cell--aesthetics">
          <div class="cell cell--image">
            <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
          </div>

          <div class="cell cell--look">
            <label class="cell__title">{{localize "DW.Look"}}</label>
            {{editor content=data.details.look target="data.details.look" button=true owner=owner editable=editable}}
          </div>

          <div class="cell cell--alignment">
            <label class="cell__title">{{localize "DW.Alignment"}}</label>
            <input type="text" class="input input--title" name="data.details.alignment.value" value="{{data.details.alignment.value}}" data-dtype="String"/>
            {{editor content=data.details.alignment.description target="data.details.alignment.description" button=true owner=owner editable=editable}}
          </div>

          <div class="cell cell--race">
            <label class="cell__title">{{localize "DW.Race"}}</label>
            <input type="text" class="input input--title" name="data.details.race.value" value="{{data.details.race.value}}" data-dtype="String"/>
            {{editor content=data.details.race.description target="data.details.race.description" button=true owner=owner editable=editable}}
          </div>

          <div class="cell cell--bonds">
            <div class="cell__title">
              <label>{{localize "DW.Bonds"}}</label>
              <div class="item-controls">
                <button  type="button" class="item-control item-create" title='{{localize "DW.AddBond"}}' data-type="bond">
                  <i class="fas fa-plus"></i> <span class="visually-hidden">{{localize "DW.AddBond"}}</span>
                </button>
              </div>
            </div>
            <ol class="items-list">
            {{#each bonds as |item id|}}
              <li class="item flexrow" data-item-id="{{item._id}}">
                <div class="item-description item-edit">{{{item.name}}}</div>
                <div class="item-controls">
                  <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                </div>
              </li>
            {{/each}}
            </ol>
          </div>
        </div>

        <button  type="button" class="toggle toggle--look{{#if actor.flags.dungeonworld.sheetDisplay.sidebarClosed}} closed{{/if}}"><i class="fas fa-chevron-left"></i></button>
      </section>

      {{!-- Main --}}
      <section class="sheet-main">
        {{!-- Attributes --}}
        <section class="sheet-attributes">

          <div class="cell cell--damage">
            <label class="cell__title damage-rollable rollable" data-roll="{{data.attributes.damage.value}}{{#if data.attributes.damage.misc}}+{{data.attributes.damage.misc}}{{/if}}" data-label="{{localize "DW.Damage"}}"><i class="fas fa-dice-d20"></i> {{localize "DW.Damage"}}</label>
            {{!-- <input type="text" name="data.attributes.damage.value" value="{{data.attributes.damage.value}}" data-dtype="String"/> --}}
            <div class="damage-inputs">
              <select name="data.attributes.damage.value" data-dtype="String">
                {{#select data.attributes.damage.value}}
                <option value="">—</option>
                <option value="d4">d4</option>
                <option value="d6">d6</option>
                <option value="d8">d8</option>
                <option value="d10">d10</option>
                <option value="d12">d12</option>
                {{/select}}
              </select>
              <span>+</span>
              <input type="text" name="data.attributes.damage.misc" value="{{data.attributes.damage.misc}}" placeholder="{{localize "DW.Misc"}}" data-dtype="String"/>
            </div>
          </div>

          <div class="cell cell--ac">
            <label class="cell__title">{{localize "DW.Armor"}}<i class="fas fa-shield-alt attribute-icon"></i></label>
            <input type="text" name="data.attributes.ac.value" value="{{data.attributes.ac.value}}" data-dtype="Number"/>
          </div>

          <div class="cell cell--hp">
            <label for="data.attributes.hp.value" class="cell__title">{{localize "DW.HP"}}<i class="fas fa-heart attribute-icon"></i></label>
            <div class="cell__counter">
              <div class="cell__wrapper">
                <button type="button" class="resource-control resource-decrease" data-action="decrease" data-attr="attributes.hp.value">-</button>
                <input type="text" name="data.attributes.hp.value" value="{{data.attributes.hp.value}}" data-dtype="Number"/>
                <button type="button" class="resource-control resource-increase" data-action="increase" data-attr="attributes.hp.value">+</button>
              </div>
              <span> / </span>
              <input type="text" class="hp--max" name="data.attributes.hp.max" value="{{data.attributes.hp.max}}" data-dtype="Number"/>
            </div>
          </div>

          <div class="cell cell--weight">
            <label for="data.attributes.weight.value" class="cell__title">{{localize "DW.Weight"}}<i class="fas fa-weight-hanging attribute-icon"></i></label>
            <div class="cell__counter">
              <input class="disabled" type="text" name="data.attributes.weight.value" value="{{data.attributes.weight.value}}" data-dtype="Number" readonly/>
              <span> / </span>
              <input type="text" name="data.attributes.weight.max" value="{{data.attributes.weight.max}}" data-dtype="Number"/>
            </div>
          </div>

          <div class="cell cell--coin">
            <label class="cell__title">{{localize "DW.Coin"}}<i class="fas fa-coins attribute-icon"></i></label>
            <div class="cell__wrapper">
              <button type="button" class="resource-control resource-decrease" data-action="decrease" data-attr="attributes.coin.value">-</button>
              <input type="text" name="data.attributes.coin.value" value="{{data.attributes.coin.value}}" data-dtype="Number"/>
              <button type="button" class="resource-control resource-increase" data-action="increase" data-attr="attributes.coin.value">+</button>
            </div>
          </div>

          <div class="cell cell--abilities">
            <ol class="abilities-list">
            {{#each data.abilities as |ability key|}}
                <li class="ability flexrow" data-ability="{{key}}">
                    <label for="data.abilities.{{key}}.value" class="cell__title ability-rollable rollable" data-roll="{{key}}" data-label="{{ability.label}}">{{ ability.label }}</label>
                    <input class="ability-value" type="text" name="data.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="{{ability.dtype}}"/>
                    <span class="ability-mod">{{numberFormat ability.mod decimals=0 sign=true}}</span>
                    <label class="ability-debility checkbox"><input type="checkbox" name="data.abilities.{{key}}.debility" {{checked ability.debility}}/>{{ ability.debilityLabel }}</label>
                </li>
            {{/each}}
            </ol>
          </div>

        </section>

        {{!-- Sheet Tab Navigation --}}
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="description">{{localize "DW.Description"}}</a>
            <a class="item" data-tab="moves">{{localize "DW.Moves"}}</a>
            <a class="item" data-tab="spells">{{localize "DW.Spells"}}</a>
            <a class="item" data-tab="equipment">{{localize "DW.Equipment"}}</a>
        </nav>

        {{!-- Sheet Body --}}
        <section class="sheet-body">

            {{!-- Main Tab --}}
            <div class="tab description" data-group="primary" data-tab="description">
              <div class="sheet-tab">
                <div class="cell cell--bio">
                  <label class="cell__title">{{localize "DW.Biography"}}</label>
                  {{editor content=data.details.biography target="data.details.biography" button=true owner=owner editable=editable}}
                </div>
              </div>
            </div>

            {{!-- Moves Tab --}}
            <div class="tab moves active" data-group="primary" data-tab="moves">
              <section class="sheet-tab">

                <section class="sheet-notifications">
                  {{#if data.isToken}}
                  <div class="cell__title warning small-text">Moves cannot be rearranged while this token is not linked to an actor.</div>
                  {{/if}}
                </section>

                <section class="sheet-resources">
                  <div class="cell cell--forward">
                    <label class="cell__title">{{localize "DW.Forward"}}</label>
                    <div class="cell__wrapper">
                      <button  type="button" class="resource-control resource-decrease" data-action="decrease" data-attr="attributes.forward.value">-</button>
                      <input type="number" name="data.attributes.forward.value" value="{{data.attributes.forward.value}}" data-dtype="Number"/>
                      <button  type="button" class="resource-control resource-increase" data-action="increase" data-attr="attributes.forward.value">+</button>
                    </div>
                  </div>

                  <div class="cell cell--ongoing">
                    <label class="cell__title">{{localize "DW.Ongoing"}}</label>
                    <div class="cell__wrapper">
                      <button  type="button" class="resource-control resource-decrease" data-action="decrease" data-attr="attributes.ongoing.value">-</button>
                      <input type="number" name="data.attributes.ongoing.value" value="{{data.attributes.ongoing.value}}" data-dtype="Number"/>
                      <button  type="button" class="resource-control resource-increase" data-action="increase" data-attr="attributes.ongoing.value">+</button>
                    </div>
                  </div>

                  <div class="cell cell--hold">
                    <label class="cell__title">{{localize "DW.Hold"}}</label>
                    <div class="cell__wrapper">
                      <button  type="button" class="resource-control resource-decrease" data-action="decrease" data-attr="attributes.hold.value">-</button>
                      <input type="number" name="data.attributes.hold.value" value="{{data.attributes.hold.value}}" data-dtype="Number"/>
                      <button  type="button" class="resource-control resource-increase" data-action="increase" data-attr="attributes.hold.value">+</button>
                    </div>
                  </div>

                  <div class="cell cell--resource1">
                    <label class="cell__title"><input type="text" name="data.attributes.resource1.label" value="{{data.attributes.resource1.label}}" data-dtype="String"/></label>
                    <div class="cell__counter">
                      <div class="cell__wrapper">
                        <button  type="button" class="resource-control resource-decrease" data-action="decrease" data-attr="attributes.resource1.value">-</button>
                        <input type="number" name="data.attributes.resource1.value" value="{{data.attributes.resource1.value}}" data-dtype="Number"/>
                        <button  type="button" class="resource-control resource-increase" data-action="increase" data-attr="attributes.resource1.value">+</button>
                      </div>
                      <span> / </span>
                      <div class="cell__wrapper">
                        <button  type="button" class="resource-control resource-decrease" data-action="decrease" data-attr="attributes.resource1.max">-</button>
                        <input type="number" name="data.attributes.resource1.max" value="{{data.attributes.resource1.max}}" data-dtype="Number"/>
                        <button  type="button" class="resource-control resource-increase" data-action="increase" data-attr="attributes.resource1.max">+</button>
                      </div>
                    </div>
                  </div>
                </section>

                <div class="cell cell--basic-moves">
                  <h2 class="cell__title">
                    <label>{{localize "DW.MovesBasic"}}</label>
                    <div class="item-controls">
                      <button  type="button" class="item-control item-create" title='{{localize "DW.MoveCreate"}}' data-type="move" data-moveType="basic">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </h2>
                  <ol class="items-list">
                  {{#each basicMoves as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
                      {{> "systems/dungeonworld/templates/parts/sheet-moves.html" item=item statSettings=../../data.statSettings}}
                    </li>
                  {{/each}}
                  </ol>
                </div>

                <div class="cell cell--starting-moves">
                  <h2 class="cell__title">
                    <label>{{localize "DW.MovesStarting"}}</label>
                    <div class="item-controls">
                      <button  type="button" class="item-control item-create" title='{{localize "DW.MoveCreate"}}' data-type="move" data-moveType="starting">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </h2>
                  <ol class="items-list">
                  {{#each startingMoves as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
                      {{> "systems/dungeonworld/templates/parts/sheet-moves.html" item=item statSettings=../../data.statSettings}}
                    </li>
                  {{/each}}
                  </ol>
                </div>

                <div class="cell cell--advanced-moves">
                  <h2 class="cell__title">
                    <label>{{localize "DW.MovesAdvanced"}}</label>
                    <div class="item-controls">
                      <button  type="button" class="item-control item-create" title='{{localize "DW.MoveCreate"}}' data-type="move" data-moveType="advanced">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </h2>
                  <ol class="items-list">
                  {{#each advancedMoves as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
                      {{> "systems/dungeonworld/templates/parts/sheet-moves.html" item=item statSettings=../../data.statSettings}}
                    </li>
                  {{/each}}
                  </ol>
                </div>

                <div class="cell cell--special-moves">
                  <h2 class="cell__title">
                    <label>{{localize "DW.MovesSpecial"}}</label>
                    <div class="item-controls">
                      <button  type="button" class="item-control item-create" title='{{localize "DW.MoveCreate"}}' data-type="move" data-moveType="special">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </h2>
                  <ol class="items-list">
                  {{#each specialMoves as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
                      {{> "systems/dungeonworld/templates/parts/sheet-moves.html" item=item statSettings=../../data.statSettings}}
                    </li>
                  {{/each}}
                  </ol>
                </div>

                <div class="cell cell--other-moves">
                  <h2 class="cell__title">
                    <label>{{localize "DW.MovesOther"}}</label>
                    <div class="item-controls">
                      <button  type="button" class="item-control item-create" title='{{localize "DW.MoveCreate"}}' data-type="move">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </h2>
                  <ol class="items-list">
                  {{#each moves as |item id|}}
                    <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
                      {{> "systems/dungeonworld/templates/parts/sheet-moves.html" item=item statSettings=../../data.statSettings}}
                    </li>
                  {{/each}}
                  </ol>
                </div>

              </section>
            </div>

            {{!-- Owned Spells Tab --}}
            <div class="tab spells" data-group="primary" data-tab="spells">
                <div class="cell cell--spells">
                  <section class="sheet-notifications" style="margin-top:10px;">
                    {{#if data.isToken}}
                    <div class="cell__title warning small-text">Spells cannot be rearranged while this token is not linked to an actor.</div>
                    {{/if}}
                  </section>

                  <ol class="items-list">
                  {{#each spells as |spellsPerLevel spellLevel|}}
                    <h2 class="cell__title">
                      <label>{{localize (concat "DW.Spells" spellLevel)}}</label>
                      <div class="item-controls">
                      <button  type="button" class="item-control item-create" title='{{localize "DW.Spells"}}' data-type="spell" data-level="{{spellLevel}}">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                    </h2>
                    {{#each spellsPerLevel as |item id|}}
                      <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
                        {{!-- <h4 class="item-name rollable spell-rollable" data-roll="{{item.data.rollFormula}}"><i class="fas fa-dice-d20"></i> {{item.name}}</h4> --}}
                        <h4 class="item-name">
                          <div class="item-avatar">
                            <span class="rollable spell-rollable" data-roll="{{item.data.rollFormula}}">
                              {{#if item.data.rollFormula}}
                                <i class="fas fa-dice-d20"></i>
                              {{else}}
                                <i class="fas fa-book"></i>
                              {{/if}}
                            </span>
                            <img class="item-icon" src="{{item.img}}" title="{{item.name}}" width="27" height="27"/>
                          </div>
                          <span class="item-label">{{item.name}}<span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span></span>
                        </h4>
                        <div class="item-meta tags">
                          {{#if item.data.prepared}}
                            <a class="tag prepared">{{localize "DW.Prepared"}}</a>
                          {{else}}
                            <a class="tag prepared unprepared">{{localize "DW.Unprepared"}}</a>
                          {{/if}}
                        </div>
                        <div class="item-controls">
                          {{!-- <a class="item-control item-details-toggle" title="Show Details"><i class="fas fa-caret-right"></i></a> --}}
                          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                        </div>
                        <div class="item-description">
                          <div class="description">{{{item.data.description}}}</div>
                        </div>
                      </li>
                    {{/each}}
                  {{/each}}
                  </ol>
                </div>
            </div>

            {{!-- Owned Equipment Tab --}}
            <div class="tab equipment" data-group="primary" data-tab="equipment">
                <div class="cell cell--equipment">
                  <section class="sheet-notifications" style="margin-top:10px;">
                    {{#if data.isToken}}
                    <div class="cell__title warning small-text">Equipment cannot be rearranged while this token is not linked to an actor.</div>
                    {{/if}}
                  </section>

                  <h2 class="cell__title">
                    <label>{{localize "DW.Equipment"}}</label>
                    <div class="item-controls">
                      <button  type="button" class="item-control item-create" title='{{localize "DW.Equipment"}}' data-type="equipment">
                        <i class="fas fa-plus"></i>
                      </button>
                    </div>
                  </h2>
                  <ol class="items-list">
                  {{#each equipment as |item id|}}
                      <li class="item flexrow" data-item-id="{{item._id}}" draggable="true">
                          <h4 class="item-name">
                            <div class="item-avatar">
                              <span class="rollable item-rollable" data-roll=""><i class="fas fa-book"></i></span>
                              <img class="item-icon" src="{{item.img}}" title="{{item.name}}" width="27" height="27"/>
                            </div>
                            <span class="item-label">{{item.name}}<span class="item-details-toggle"><i class="fas fa-chevron-down"></i></span></span>
                          </h4>

                          <div class="item-meta tags">
                            {{#if item.data.uses }}<span class="tag">{{localize "DW.Uses"}}: {{item.data.uses}}</span>{{/if}}
                            {{#if item.data.quantity }}<span class="tag">{{localize "DW.Qty"}}: {{item.data.quantity}}</span>{{/if}}
                            {{#if item.data.weight }}<span class="tag">{{localize "DW.Wt"}}: {{item.data.weight}}</span>{{/if}}
                          </div>
                          <div class="item-controls">
                              <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
                              <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
                          </div>
                          <div class="item-description">
                            {{#if item.data.tags}}{{{dwTags item.data.tags}}}{{/if}}
                            <div class="description">{{{item.data.description}}}</div>
                          </div>
                      </li>
                  {{/each}}
                  </ol>
                </div>
            </div>

        </section>
      </section>

  </div>
</form>
