.cell--moves,
.cell--basic-moves,
.cell--starting-moves,
.cell--advanced-moves,
.cell--special-moves,
.cell--other-moves,
.cell--equipment,
.cell--spells {

  .items-list {
    padding: 0;

    .item + .item {
      border-top: 2px solid $ct-gray;
    }

    .item {
      padding: 10px 0;
    }
  }

  .item-controls {
    text-align: right;
    flex: 0 0 40px;
  }

  .item-description {
    display: none;
    flex: none;
    width: 100%;

    .result-label {
      margin-right: 5px;

      + p,
      + div,
      + span {
        display: inline;
      }
    }

    .result--choices {
      margin-top: 5px;

      ul,
      ol,
      p {
        margin-top: 0;
      }
    }
  }

  .item-avatar {
    flex: 0 0 32px;
    display: inline-block;
    height: 32px;
    position: relative;
    border-radius: 4px;
    margin-right: 4px;
    overflow: hidden;

    .rollable {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      align-items: center;
      justify-content: center;
      padding: 0;
      transition: all ease-in-out 0.25s;
      text-align: center;
      background: $c-black;
      color: $c-white;
      opacity: 0;
      font-size: 14px;

      &:hover {
        // transform: scale(1.2);
        opacity: 1;
        color: $c-white;
      }

      .fa-dice-d6:last-child {
        margin-left: 2px;
      }
    }
  }

  .item-name {
    font-size: 18px;
    font-weight: bold;
    flex: 2;
    margin: 0;
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
  }

  .item-icon {
    flex: 1;
    vertical-align: top;
    border: 0;
    height: 32px;
    width: 32px;
    padding: 0;
    margin: 0;
    border-radius: 0;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.35);
    background-color: rgba(0,0,0,0.5);
  }

  .item-meta {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex: 0 auto;

    > span {
      margin: 0;

      + span {
        margin-left: 4px;
      }
    }
  }

  .item-label {
    border-left: 2px solid;
    padding-left: 4px;

    &::after {
      display: block;
      content: '';
      width: 0;
      height: 0;
      margin-top: 2px;
      border-bottom: 2px solid;
      transition: all ease-in-out 0.25s;
    }

    &:hover {
      &::after {
        width: 100%;
      }

      .item-details-toggle {
        transform: scale(1.2);
      }
    }

    .fas {
      transition: all ease-in-out 0.25s;
    }

    &.open {
      &::after {
        width: 100%;
      }

      .fas {
        transform: rotate(180deg);
      }
    }
  }

  .item-details-toggle {
    display: inline-block;
    width: 24px;
    height: 16px;
    text-align: center;
    border-radius: 5px;
    transition: all ease-in-out 0.25s;
  }

  .rollable {
    &:hover,
    &:focus {
      color: $c-navy-up;
      text-shadow: 0 0 5px rgba($c-navy-up, 0.25);
      cursor: pointer;
    }
  }
}

.cell--spells {
  .unprepared {
    background-color: $c-pink;
  }
}