<section class="dw-chat-card">
  <div class="cell cell--chat dw chat-card move-card" data-actor-id="{{actor._id}}" {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <div class="chat-title row flexrow">
      {{#if image}}<img class="item-icon" src="{{image}}" alt="{{title}}"/>{{/if}}
      <h2 class="cell__title">{{title}}</h2>
    </div>
    {{#if flavor}}<div class="row"><em>{{flavor}}</em></div>{{/if}}
    {{#if trigger}}<div class="row"><strong>Trigger:</strong> {{trigger}}</div>{{/if}}
    {{#if details}}<div class="row">{{{details}}}</div>{{/if}}
    {{!-- Result type label. --}}
    {{#if resultLabel}}
      <div class="row result{{#if result}} {{result}}{{/if}}">
        <div class="result-label">{{resultLabel}}</div>
        {{#if resultDetails}}
          <div class="result-details">{{{resultDetails}}}</div>
        {{/if}}
        {{#if choices}}
          <div class="result-choices">{{{choices}}}</div>
        {{/if}}
      </div>
    {{/if}}
    {{!-- Roll results, color coded to match the result type label. --}}
    {{#if rollDw}}
      <div class="roll{{#if result}} {{result}}{{/if}}">{{{rollDw}}}</div>
    {{/if}}
    {{!-- XP --}}
    {{#if xp}}
      <div class="row xp"><button class="button xp-button" type="button" data-action="xp" actor="{{actor._id}}">{{localize "DW.MarkXp"}}</button></div>
    {{/if}}
    {{!-- Tags --}}
    {{#if tags}}
      <hr>
      {{{dwTags tags}}}
    {{/if}}
  </div>
</section>