<form>
    <p>{{{title}}}</p>
    <div class="form-group">
        <label>{{localize "DW.Bond"}}</label>
        <input type="text" name="bond" value="{{bond}}" placeholder="e.g. 1" data-dtype="Number"/>
    </div>
</form>