<form class="{{cssClass}} item-form flexcol" autocomplete="off">
  <div class="sheet-wrapper flexcol">

    <header class="sheet-header flexrow">
      <div class="cell cell--image">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      </div>
      <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize "DW.Common.Name"}}"/></h1>
      </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-navigation sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="description">{{localize "DW.Common.Description" }}</a>
      <a class="item" data-tab="details">{{localize "DW.Common.Details" }}</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

      {{log data}}

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            <div class="resource">
              <label>{{localize "DW.Description"}}</label>
              {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
            </div>

            {{#if data.moveResults}}
              {{#each data.moveResults as |result key|}}
                <div class="resource">
                  <label>{{localize (concat 'DW.' key)}}</label>
                  {{editor content=result.value target=result.key button=true owner=../owner editable=../editable}}
                </div>
              {{/each}}
            {{/if}}

            <div class="resource">
              <label>{{localize "DW.Choices"}}</label>
              {{editor content=data.choices target="data.choices" button=true owner=owner editable=editable}}
            </div>
        </div>

        {{!-- Details Tab --}}
        <div class="tab" data-group="primary" data-tab="details">
          <div class="resource">
            <label>{{localize "DW.Roll"}}</label>
            <select name="data.rollType" data-dtype="String">
              {{#select data.rollType}}
              <option value="">—</option>
              <option value="STR">{{localize "DW.STR"}}</option>
              <option value="DEX">{{localize "DW.DEX"}}</option>
              <option value="CON">{{localize "DW.CON"}}</option>
              <option value="INT">{{localize "DW.INT"}}</option>
              <option value="WIS">{{localize "DW.WIS"}}</option>
              <option value="CHA">{{localize "DW.CHA"}}</option>
              <option value="ASK">{{localize "DW.ASK"}}</option>
              <option value="BOND">{{localize "DW.BOND"}}</option>
              <option value="FORMULA">{{localize "DW.FORMULA"}}</option>
              {{/select}}
            </select>
          </div>

          {{#if (eq data.rollType 'FORMULA')}}
            <div class="resource">
              <label>{{localize "DW.RollFormula"}}</label>
              <input type="text" name="data.rollFormula" value="{{data.rollFormula}}" placeholder="ex: d6 + d8 + @str.mod" data-dtype="String"/>
            </div>
          {{/if}}

          <div class="resource">
            <label>{{localize "DW.Modifier"}}</label>
            <input type="text" name="data.rollMod" value="{{data.rollMod}}" data-dtype="Number"/>
          </div>

          <div class="resource">
            <label>{{localize "DW.Class"}}</label>
            <select name="data.class">
              {{#select data.class}}
                <option value="">—</option>
                {{#each data.classlist as |class id|}}
                <option value="{{class}}">{{class}}</option>
                {{/each}}
              {{/select}}
            </select>
          </div>

          <div class="resource">
            <label>{{localize "DW.MoveType"}}</label>
            <select name="data.moveType" data-dtype="String">
              {{#select data.moveType}}
              <option value="">—</option>
              <option value="basic">{{localize "DW.MoveBasic"}}</option>
              <option value="starting">{{localize "DW.MoveStarting"}}</option>
              <option value="advanced">{{localize "DW.MoveAdvanced"}}</option>
              <option value="special">{{localize "DW.MoveSpecial"}}</option>
              {{/select}}
            </select>
          </div>

          <div class="resource">
            <label>{{localize "DW.RequiresLevel"}}</label>
            <input type="text" name="data.requiresLevel" value="{{data.requiresLevel}}" data-dtype="Number"/>
          </div>

          <div class="resource">
            <label>{{localize "DW.RequiresMove"}}</label>
            <input type="text" name="data.requiresMove" value="{{data.requiresMove}}" data-dtype="String"/>
          </div>

          <div class="resource">
            <label>{{localize "DW.MoveGroup"}}</label>
            <input type="text" name="data.moveGroup" value="{{data.moveGroup}}" placeholder="ex: barbarian-armor" data-dtype="String"/>
            <span class="help-text">{{localize "DW.MoveGroupHelp"}}</span>
          </div>

        </div>
    </section>
  </div>
</form>
